
/**
 * Definitions of own styles
 */

#pp-mainview {
    /*padding: 1rem;*/
}

.pp-board {
    padding: 1rem 1rem 3rem 1rem;
}

.pp-big-icon {
    width: 3rem;
    height: 3rem;
}

.pp-story-anchor {
    color: var(--material-primary-text-color);
    font-family: var(--material-font-family);
    font-size: var(--material-button-font-size);
    text-decoration: none;
    padding-bottom: 1rem;
    display: block;
}

.pp-card {
    background-position-x: center;
    background-size: auto 100%;
    color: white;
    font-size: 2rem;
    line-height: 100px;
}